#01r13000000FE8p_Tab a {
    background-color: #385265;
    color: #F5F5F5;
}

#Account_Tab a {
    color: #F5F5F5;
    font-size: 10px;
}

#Console_Tab a {
    color: #F5F5F5;
    font-size: 10px;
}

#Contact_Tab a {
    color: #F5F5F5;
    font-size: 10px;
}

#Dashboard_Tab a {
    color: #F5F5F5;
    font-size: 10px;
}

#allBox {
    display: none;
}

#cas15_ileinner {
    background-color: #d3dde8;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#lookup005300000042BRN00N30000004r0fm {
    color: #ff0000;
    font-weight: bold;
}

#lookup005a0000009L1Cbcas1 {
    color: #ff0000;
    font-weight: bold;
}

#mainCell {
    background-color: #000000;
}

#phHeaderLogoImage {
    display: none;
}

#phSearchButton {
    display: none;
}

#phSearchForm {
    display: none;
}

#pinIndicator {
    display: none;
}

#report_Tab a {
    color: #F5F5F5;
    font-size: 10px;
}

#sidebarContainer {
    display: none;
}

.bPageBlock {
    border-top-color: black;
}

.chatter-avatar {
    display: none;
}

.mainTitle {
    display: none;
}

a.actionLink {
    color: #000000;
    font-weight: bold;
}

a.brandPrimaryFgr {
    color: #F5F5F5;
    font-size: 10px;
}

a.chatterFollowUnfollowAction {
    display: none;
}

a.configLinks {
    display: none;
}

body {
    margin: 0;
}

body,labelcol,td,h1,h2,h3,h4,h5,p,span,input {
    font-family: Segoe UI;
}

div.bPageFooter.noTableFooter {
    display: none;
}

div.bPageFooter.noTableFooter div {
    display: none;
}

div.bPageHeader {
    border-style: none;
    margin-left: -5px;
    margin-right: -6px;
    margin-top: -14px;
    padding: 0;
}

div.bPageTitle {
    display: none;
}

div.bodyDiv.brdPalette.brandPrimaryBrd {
    border-color: #ffffff;
    border-style: none;
}

div.bottomNav {
    border-style: none;
    display: none;
}

div.controls {
    margin-bottom: -8px;
    margin-top: -6px;
}

div.fewerMore {
    display: none;
}

div.fewerMore a {
    display: none;
}

div.filterLinks {
    color: #FFFFFF;
}

div.filterLinks a {
    background-color: #F5F5F5;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: #363636;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
}

div.fixed.sidebar {
    display: none;
}

div.headerSearchRightRoundedCorner {
    display: none;
}

div.linkBar.brandSecondaryBrd {
    background-color: #ffffff;
    border-style: none;
    height: 20px;
    text-transform: uppercase;
}

div.links {
    display: none;
}

div.listButtons {
    color: #FFFFFF;
}

div.listHoverLinks {
    background-color: #ffffff;
}

div.mruItem {
    display: none;
}

div.multiforce {
    display: none;
}

div.open {
    display: none;
}

div.paginator {
    display: none;
}

div.pbBody {
    background-color: #ffffff;
}

div.pbSubheader.brandTertiaryBrd.tertiaryPalette {
    border-color: #bdb2bd;
    border-style: solid;
    display: none;
}

div.pbSubheader.brandTertiaryBrd.tertiaryPalette h3 {
    color: #16689e;
}

div.presence_buddylist_header.hideOutLine {
    display: none;
}

div.presence_chat_widget {
    display: none;
}

div.sidebarModuleBody {
    display: none;
}

div.sidebarModuleBody.sidebarModuleBodyNoHeader {
    display: none;
}

div.tabNavigation {
    background-color: #ffffff;
}

div.tags.metadata {
    display: none;
}

div.x-grid3-cell-inner.x-grid3-col-00N1300000BQyuf {
    width: 12px;
}

div.x-grid3-cell-inner.x-grid3-col-00N30000004r0gZ {
    color: #000000;
}

div.x-grid3-cell-inner.x-grid3-col-ACTION_COLUMN {
    display: none;
}

div.x-grid3-cell-inner.x-grid3-col-CASES_CASE_NUMBER a {
    font-size: 80;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
}

div.x-grid3-hd-inner.x-grid3-hd-00N1300000BQsmE {
    background-color: #C7DBE9;
    border-style: none;
    margin-left: -1px;
}

div.x-grid3-hd-inner.x-grid3-hd-00N1300000BQtDZ {
    background-color: #C7DBE9;
    border-style: none;
    margin-left: -3px;
}

div.x-grid3-hd-inner.x-grid3-hd-00N1300000BQyuf {
    background-color: #C7DBE9;
    border-style: none;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0fO {
    background-color: #C7DBE9;
    margin-left: -6px;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0fV {
    background-color: #C7DBE9;
    margin-left: -3px;
    padding-left: 0;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0fX {
    background-color: #C7DBE9;
    margin-left: -3px;
    padding-left: 1px;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0fd {
    background-color: #C7DBE9;
    margin-left: -5px;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0fn {
    background-color: #C7DBE9;
    margin-left: -4px;
    padding-left: 0;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0gI {
    color: #0f469e;
}

div.x-grid3-hd-inner.x-grid3-hd-00N30000004r0gZ {
    background-color: #C7DBE9;
    margin-left: -2px;
    padding-left: 1px;
}

div.x-grid3-hd-inner.x-grid3-hd-ACCOUNT_NAME {
    background-color: #C7DBE9;
    border-style: none;
    margin-left: -3px;
    padding-left:  ;
}

div.x-grid3-hd-inner.x-grid3-hd-ACTION_COLUMN {
    display: none;
}

div.x-grid3-hd-inner.x-grid3-hd-CASES_CASE_NUMBER {
    background-color: #C7DBE9;
    padding-left: 0;
}

div.x-grid3-hd-inner.x-grid3-hd-CASES_CREATED_DATE {
    color: #0f469e;
}

div.x-grid3-hd-inner.x-grid3-hd-CASES_STATUS {
    color: #0f469e;
}

div.x-grid3-hd-inner.x-grid3-hd-CASES_SUBJECT {
    background-color: #C7DBE9;
    margin-left: -3px;
}

div.x-grid3-hd-inner.x-grid3-hd-NAME {
    color: #0f469e;
}

div.x-grid3-hd-inner.x-grid3-hd-OWNER_NAME {
    background-color: #C7DBE9;
    margin-left: -3px;
    padding-left: 0;
}

div.x-grid3-hd-inner.x-grid3-hd-checkbox {
    display: none;
}

div.x-grid3-header {
    border-style: none;
}

div.zen-hasTabOrganizer.zen-headerBottom.brdPalette nav {
    background-color: #f2f2f2;
    border-color: #f7f4f7;
    border-style: none;
}

h1.pageType {
    display: none;
}

h2.brandPrimaryFgr {
    display: none;
}

h2.mainTitle {
    color: #16689e;
}

h2.pageDescription {
    display: none;
}

img.allTabsArrow {
    background-color: #385265;
    color: white;
    display: none;
    font-weight: bold;
}

img.chatter-avatarStyle {
    border-style: none;
}

img.checkImg {
    color: #ff0000;
}

img.helpIcon {
    display: none;
}

img.helpOrb {
    display: none;
}

img.pageTitleIcon {
    display: none;
}

img.printerIconOn {
    border-color: #000000;
    border-style: none;
    border-width: 1px;
}

input.btn {
    background-color: #F5F5F5;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    padding: 2px;
}

input.btn.refreshListButton {
    border-color: #363636;
    border-style: solid;
    color: #211021;
}

input.checkbox {
    display: none;
}

li.brandPrimaryBgr.zen-active.primaryPalette {
    background-color: #000000;
    border-color: #ffffff;
    border-style: solid;
}

li.zen-firstItem a {
    color: #F5F5F5;
    font-size: 10px;
}

select.title {
    background-color: #F5F5F5;
    font-size: 11px;
    padding: 3px;
}

span.buddy_list_min_text {
    display: none;
}

span.clickable.chatterListToggle.chatterToggle {
    display: none;
}

span.helpLink {
    display: none;
}

span.linkText {
    display: none;
}

span.listItemPad {
    color: #000000;
}

span.selected.chatterListToggle.listToggle {
    display: none;
}

span.toggleIcon.chatterIcon {
    display: none;
}

span.toggleIcon.listIcon {
    display: none;
}

td iframe {
    background-color: #FFFFAA;
    min-height: 95px;
}

td.dataCol.col02.inlineEditWriteOn {
    border-style: none;
}

td.oRight {
    border-color: #fafafa;
    border-style: none;
    padding: 00;
}

td.open {
    display: none;
}

td.pbButton {
    background-color: #ffffff;
}

td.pbHelp {
    background-color: #ffffff;
}

td.pbTitle {
    background-color: #ffffff;
}

td.right {
    border-style: none;
}

td.sidebarCell {
    display: none;
}

td.x-grid3-col.x-grid3-cell.x-grid3-td-ACTION_COLUMN {
    display: none;
}

td.x-grid3-col.x-grid3-cell.x-grid3-td-CASES_CASE_NUMBER {
    width: =;
}

td.x-grid3-col.x-grid3-cell.x-grid3-td-checkbox.x-grid3-cell-first {
    display: none;
}

td.x-grid3-hd.x-grid3-cell.x-grid3-td-ACTION_COLUMN {
    display: none;
}

td.x-grid3-hd.x-grid3-cell.x-grid3-td-CASES_CASE_NUMBER.DESC.over {
    display: none;
}

td.x-grid3-hd.x-grid3-cell.x-grid3-td-checkbox {
    display: none;
}

th.dataCell a {
    color: #ff0000;
}

ul.piped li {
    color: #FFFFF;
}

ul.zen-inlineList.zen-tabMenu {
    background-color: #385265;
    margin-bottom: -10px;
    margin-top: -8px;
}

