nav {
    background-color: #1797C0
}
#tabBar a {
    color: #F5F5F5;
    font-size: 10px;    
}

#tabBar img {
    display: none;
}

td.sidebarCell {
    display: none;
}

.controls img {
    display: none;
}

.toggleButton {
    display: none;
}

#presence_widget {
display: none;    
}

#AppBodyHeader table {
    display: none;
}

select.title {
    background-color: #F5F5F5;
    font-size: 11px;
    padding: 3px;
}

.linkBar {
    background-color: #ffffff;
    border-style: none;
    height: 20px;
    margin: 0px;
    padding-left: 0px;
    text-transform: uppercase;
}

.x-grid3-hd-checkbox, input.checkbox, .x-grid3-cell-first, .x-grid3-td-checkbox, .chatterFollowUnfollowAction {
    display: none;
}